// COLORS
$color-primary: #eebb4d;
$color-primary-dark: #e9a71a;
$color-primary-light: #fadd9f;
$color-secondary: #96bb7c;
$color-secondary-dark: #6e994f;
$color-secondary-light: #b0cb9c;

$color-creme: #e3dfc8;
$color-creme-light: #f0eedb;

$color-white: #fff;
$color-black: #000;
