// COLORS
$color-primary: #eebb4d;
$color-primary-dark: #e9a71a;
$color-primary-light: #fadd9f;
$color-secondary: #96bb7c;

$color-creme: #e3dfc8;
$color-creme-light: #faf9f0;

$color-white: #fff;
$color-black: #000;
