// COLORS
$color-primary: #eebb4d;
$color-primary-dark: #e9a71a;
$color-primary-light: #f3cf82;
$color-secondary: #96bb7c;

$color-creme: #e3dfc8;
$color-creme-light: #f5f1da;

$color-white: #fff;
$color-black: #000;
