.footer {
	width: 100%;
	background-color: $color-black;
	// display: flex;
	// justify-content: center;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__image {
		img {
			width: 7rem;
		}
	}

	&__copyright {
		&--text {
			color: $color-white;
			font-size: 1.3rem;
		}
	}

	&__social {
		cursor: pointer;
		& > :first-child {
			margin-right: 2rem;
		}
		&--icon {
			&-facebook:hover {
				color: #097fec;
			}
			&-instagram:hover {
				background: linear-gradient(
					45deg,
					#405de6,
					#5851db,
					#833ab4,
					#c13584,
					#e1306c,
					#fd1d1d
				);
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
			}
		}
	}
}
.credit {
	color: $color-creme-light;
	opacity: 1;
	padding: 0.5rem;
	font-size: 1.1rem;

	& > p > a {
		color: $color-creme;
		display: inline-block;
		transition: all 0.5s;
		&:hover {
			color: $color-white;
			box-shadow: 0 2rem 3rem rgba($color: $color-black, $alpha: 0.4);
			transform: rotate(5deg) scale(1.3);
			background-color: $color-secondary;
		}
	}
}
