.footer {
	width: 100%;
	background-color: $color-black;
	display: flex;
	justify-content: center;

	.row {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 1rem 2rem;
	}

	&__image {
		img {
			width: 7rem;
		}
	}

	&__copyright {
		&--text {
			color: $color-white;
			font-size: 1.3rem;
		}
	}

	&__social {
		color: $color-white;
		display: flex;
		justify-content: flex-end;

		a {
			&:link,
			&:visited {
				color: $color-white;
			}
		}

		&--icon {
			padding: 0 2rem;
			font-size: 4rem;
			transition: all 0.2s;
			cursor: pointer;

			&:hover {
				color: $color-secondary;
			}
		}
	}
}
