@media (max-width: 1000px) {
	.heading-primary {
		font-size: 4rem;
		&-black {
			font-size: 4rem;
		}
	}
	.heading-secondary {
		font-size: 2.2rem;
		&-black {
			font-size: 2.2rem;
		}
	}

	.paragraph {
		font-size: 1.5rem;
	}

	.card__body--paragraph {
		font-size: 1.5rem;
		line-height: 1.4;
	}

	.header {
		&__nav {
			padding: 0 3rem;
		}
		&__list {
			&--item {
				padding: 0 1rem;
				font-size: 1.4rem;
			}
		}
	
	}
}

@media (max-width: 768px) {
	.mobile-navigation {
		display:block;
		&__background{
			transition: all 0.2s ;
		}
		&__nav{
			transition: all 0.2s ;
		}
	}
	.heading-primary {
		font-size: 3.5rem;
		&-black {
			font-size: 3.5rem;
		}
	}
	.heading-secondary {
		font-size: 2rem;
		&-black {
			font-size: 2rem;
		}
	}

	.paragraph {
		font-size: 1.3rem;
	}

	.card__body--paragraph {
		font-size: 1.5rem;
		line-height: 1.4;
		margin-bottom: 4rem;
	}

	.header {
		&__hamburger {
			display: block;
		}
		&__list {
			&--items {
				display: none;

				&.show {
					display: flex;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.header {
		&__hero {
			&__content {
				padding: 0 2rem;
			}
			&--header {
				font-size: 3rem;
			}
			&--paragraph {
				font-size: 1.2rem;
				line-height: 1.5;
			}
			&--btn:link,
			&--btn:visited {
				font-size: 1.8rem;
			}
		}
	}

	.paragraph {
		padding: 2rem 4rem;
	}

	.card__body--paragraph {
		padding: 1.5rem 2rem;
	}

	.section-contact {
		.contact__info {
			padding: 0 4rem 2rem 4rem;
		}
	}

	.footer {
		&__social {
			& > * > * {
				font-size: 24px;
			}
		}
	}
}
