.mobile-navigation {
  display:none;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $color-white;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 4rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.1);
  }


    &__checkbox {
      display: none;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $color-white;
      height: 6rem;
      width: 6rem;
      position: fixed;
      top: 3.5rem;
      right: 6rem;
      border-radius: 50%;
      z-index: 1000;
      box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.1);
    }
    &__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 3.5rem;
      right: 6.5rem;
      background-image: radial-gradient(
        $color-secondary-light,
        $color-secondary-dark
      );
      z-index: 300;
      transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
      // transform: scale(80);
    }
    &__nav {
     
      height: 100vh;

      position: fixed;
      top: 0;
      left: 0;
      z-index: 500;

      width: 0;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      list-style: none;
    }
    &__item {
      margin: 1rem;
    }
    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        // text-transform: uppercase;
        
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-white 50%
        );
        background-size: 230%;
        transition: all 0.4s;

        span {
          margin-right: 1rem;
          display: inline;
        }
      }
      &:hover,
      &:active {
        background-position: 100%;
        color: $color-secondary;
        transform: translateX(1rem);
      }
    }

    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
      opacity: 1;
      width: 100%;
    }

    //ICON
    &__icon {
      position: relative;
      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: rgb(105, 87, 87);
        display: inline-block;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }

   
  }

