.header {


	&__nav {	
		
		position:fixed;
		top: 0;
		left: 50%; 
		transform: translateX(-50%);
		width: 100%;
		z-index: 2;
		transition: all 0.4s;

		&-scroll{			
			background-color:rgba($color: $color-black, $alpha: 1);
		}
	
	}
	&__list {
		color: $color-white;
		display: flex;
		justify-content: space-between;

		&--items {
			display: flex; 
			justify-content: space-between;
			align-items: center;	
		}

		&--item {

			padding: 0 2rem;
			font-size: 1.5rem;
			cursor: pointer;
			position: relative;
			display: inline-block;
		

			a {
				&:link,
				&:visited {
					color: inherit; //cool!
				}
			}

			&::after {
				content: '';
				width: 0%;
				position: absolute;
				height: 0.3rem;
				background-color: $color-secondary;
				bottom: -0.4rem;
				left: 2rem;
				transition: all 0.5s;
			}

			&:hover::after {
				width: calc(100% - 4rem);
			}
		}
	}

	&__logo-image {
		//Logoyu bu şekilde boyutlandırdım
		width: 12rem;
		height: 12rem;
		transition: all 0.4s
	}
}
