.card {
	&__header {
		& > i {
			color: $color-secondary;
			animation-fill-mode: backwards;
		}

		// &--icon {
		// 	/*&-1 {
		// 		animation: fadeIn 1s;
		// 	}
		// 	&-2 {
		// 		animation: fadeIn 1s 0.5s;
		// 	}
		// 	&-3 {
		// 		animation: fadeIn 1s 1s;
		// 	}
		// 	&-4 {
		// 		animation: fadeIn 1s 1.5s;
		// 	}*/
		// }
	}
	&__body {
		&--paragraph {
			font-size: 1.4rem;
			line-height: 1.5;
			text-align: center;
			padding: 0 .5rem;
		}
	}
}
