* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color:$color-white;
	&:active,:visited{
		text-decoration: none;
		color:$color-white;
	}
}

ul {
	list-style: none;
}

i {
	font-size: 5rem;
}
