body {
	font-family: 'Poppins', sans-serif;
}

.heading-primary {
	font-size: 5rem;
	color: $color-white;
	&-black {
		font-size: 5rem;
		color: $color-black;
	}
}

.heading-secondary {
	font-size: 2rem;
	color: $color-white;
	&-black {
		color: $color-black;
	}
}

.heading-tertiary {
	font-size: 1.5rem;
	color: $color-white;
	&-black {
		color: $color-black;
	}
}

.paragraph {
	color: $color-black;
	font-size: 1.5rem;
	// text-align: justify;
}
