.container {
	padding: 0 10rem;
}

// Margin
.u-margin-bottom-small {
	margin-bottom: 3rem;
}

.u-margin-bottom-medium {
	margin-bottom: 5rem;
}

.u-margin-bottom-big {
	margin-bottom: 8rem;
}

//Padding
.u-padding-bottom-small {
	padding-bottom: 3rem;
}

.u-padding-bottom-medium {
	padding-bottom: 5rem;
}

.u-padding-bottom-big {
	padding-bottom: 8rem;
}
