.container {
	padding: 0 10rem;
}

.text-center {
	text-align: center;
}

.left-to-right {
	animation: leftToRight 1s;
}

.right-to-left {
	animation: rightToLeft 1s;
}

.bottom-to-top {
	animation: bottomToTop 1s;
}

.fade-in-1 {
	animation: fadeIn 1s 0.5s;
}

.fade-in-2 {
	animation: fadeIn 1s 1s;
}

.fade-in-3 {
	animation: fadeIn 1s 1.5s;
}

.fade-in-4 {
	animation: fadeIn 1s 2s;
}

// Margin
.u-margin-bottom-xsmall {
	margin-bottom: 1.5rem;
}

.u-margin-bottom-small {
	margin-bottom: 3rem;
}

.u-margin-bottom-medium {
	margin-bottom: 5rem;
}

.u-margin-bottom-big {
	margin-bottom: 8rem;
}

.u-margin-vertical-xsmall {
	margin: 1.5rem 0;
}
.u-margin-vertical-small {
	margin: 3rem 0;
}
.u-margin-vertical-medium {
	margin: 5rem 0;
}
.u-margin-vertical-big {
	margin: 8rem 0;
}

//Padding
.u-padding-bottom-xsmall {
	padding-bottom: 1.5rem;
}
.u-padding-bottom-small {
	padding-bottom: 3rem;
}

.u-padding-bottom-medium {
	padding-bottom: 5rem;
}

.u-padding-bottom-big {
	padding-bottom: 8rem;
}

.u-padding-horizantal-xsmall {
	padding: 0 1.5rem;
}
.u-padding-horizantal-small {
	padding: 0 3rem;
}
.u-padding-horizantal-medium {
	padding: 0 5rem;
}
.u-padding-horizantal-big {
	padding: 0 8rem;
}

.u-padding-vertical-xsmall {
	padding: 1.5rem 0;
}
.u-padding-vertical-small {
	padding: 3rem 0;
}
.u-padding-vertical-medium {
	padding: 5rem 0;
}
.u-padding-vertical-big {
	padding: 8rem 0;
}

.u-display-inline-block {
	display: inline-block;
}
