.section-about-us {
	text-align: justify;
	line-height: 1.5;
	padding: 10rem 0;
}
.section-differences {
	background-color: $color-creme-light;
}

.section-production-areas {
	padding: 10rem 0;
}

.section-references {
	background-color: $color-creme-light;
}
